.screen {
  display:flex;
  justify-content: center;
}

#board {
  height: 400px;
  width: 400px;
  border: 1px black solid;
  display: flex;
  flex-wrap: wrap;
  user-select: none;
}
  
.grid {
    height: 25px;
    width: 25px;
    border: 1px black solid;
    box-sizing: border-box;
}

.buttons {
  display:flex;
  justify-content: center;
  padding: 10px;
  }
  
 h1 {
    text-align: center;
    }

.grid:hover {
    background-color: aliceblue;
}
